---
import WorkCard from '@/components/WorkCard.astro';
import works from '@/data/work';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Experiencia Laboral">
  <main class="flex flex-col gap-5">
    <h1 class="text-2xl text-neutral-100">Experiencia Laboral</h1>
    <article class="flex flex-col gap-4">
      {
        works.map((data, i) => (
          <WorkCard
            title={data.title}
            description={data.description}
            challenge={data.challenge}
            techs={data.techs}
            workTime={data.workTime}
          />
        ))
      }
    </article>
  </main>
</Layout>
